---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.moov-btn {
    background: #675bff !Important;
    height: auto;
    padding: 6px 20px;
    font-weight: 600;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
}